**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.user
**/*.suo
**/*.jfm
**/.settings
**/.classpath
**/.project

**/bin
**/obj
**/node_modules
**/npm-debug.log

**/*.*proj.user
**/*.dbmdl
**/.env

**/secrets.*.yaml
**/values.*.yaml

**/azds.yaml
**/.toolstarget
**/charts

**/docker-compose*
Dockerfile*
!Dockerfile

LICENSE
README.md

!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
