name: CI/CD to Fly.io

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-docker-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repo
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Setup .NET 8
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      # 3. Restore dependencies
      - name: Restore dependencies
        run: dotnet restore

      # 4. Build solution
      - name: Build
        run: dotnet build --no-restore --configuration Release

      # 5. Run tests
      - name: Test
        run: dotnet test --no-build --configuration Release --verbosity normal

      # 6. Setup Docker Buildx
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 7. Login to GitHub Container Registry
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      # 8. Build Docker image
      - name: Build Docker image
        run: docker build -t ghcr.io/asifabdullah-netdev/orderingestion/order-ingestion-api:latest -f ./OrderIngestion.Api/Dockerfile .
        
      # 9. Push Docker image to GHCR
      - name: Push Docker image
        run: docker push ghcr.io/asifabdullah-netdev/orderingestion/order-ingestion-api:latest

      # 10 + 11. Deploy with official action
      - name: Deploy to Fly.io
        uses: superfly/flyctl-actions@1.5
        with:
            args: "deploy --config fly.toml --image ghcr.io/asifabdullah-netdev/orderingestion/order-ingestion-api:latest --remote-only"
        env:
            FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
