name: CI/CD to Render

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    env:
      DOCKER_IMAGE: ghcr.io/asifabdullah-netdev/order-ingestion-api:latest

    steps:
      # 1. Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Setup .NET 8
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      # 3. Restore dependencies
      - name: Restore dependencies
        run: dotnet restore

      # 4. Build solution
      - name: Build
        run: dotnet build --no-restore --configuration Release

      # 5. Run Tests
      - name: Run Tests
        run: dotnet test --no-build --configuration Release --verbosity normal

      # 6. Lint / Format Check (optional)
      - name: Lint / Format
        run: dotnet format --verify-no-changes || true

      # 7. Build Docker Image
      - name: Build Docker image
        run: docker build -t $DOCKER_IMAGE -f ./OrderIngestion.Api/Dockerfile .

      # 8. Login to GHCR
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      # 9. Push Docker Image
      - name: Push Docker image
        run: docker push $DOCKER_IMAGE

      # 10. Trigger Render Deploy Hook
      - name: Deploy to Render
        run: curl -X POST "$RENDER_DEPLOY_HOOK"
        env:
          RENDER_DEPLOY_HOOK: ${{ secrets.RENDER_DEPLOY_HOOK }}
